* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}
/*
header {
	background-color: #00355f;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	font-size: 25px;
	float: left;
}
*/

header {
	background-color: #00355f;
	color: #ffffff;
	width: 100%;
}
header image {
	float: left;
	background-color: #00355f;
	padding: 5px;
	height: 30px;
	width: 55px;
}

header h1 {
	float: left;
	padding: 10px;
	font-size: 20px;
	background-color: #00355f;
	color: #ffffff;

}

h2 {
	margin: 10px;
}

#login, #player-list, #table, #addPlayer {
	background-color: #ffffff;
	padding: 20px;
	margin-top: 20px;
}

.button {
	background-color: #00355f;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 10px;
	border-bottom: 1px solid #cccccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


li:hover {
    background-color: #ddd;
  }
  
  #my-team-list li {
    background-color: #ddd;
  }

footer {
	background-color: #00355f;
	color: #ffffff;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
}
